include layouts/mainLayout

.container
    h1.mt-4
    h1.mt-4 #{title}
    p #{subtitle}
    img(src='/imgs/dog.png' alt='Lost Dog' height='350')
    span.ms-2
        a.btn.btn-primary(href='/' role='button') Take me back Home