include ../layouts/mainLayout

.container
    h1.mt-4

    if items.length == 0
        h2 Sorry no item data to display.
    else
        table.table.table-striped.table-hover
            thead
                tr
                    th(scope='col') Product
                    th(scope='col') Total Sales
            tbody
                each i in items
                    tr
                        td= i.ItemName
                        td= i.TotalSales
    form(method='get' action='/addItem')
        button(type='submit' class='btn btn-primary') Insert New Product